@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* Navbar container */
.navbar-container {
    background-color: #1A0B2E;
    /* Deep purple background */
    width: 100%;
    padding: 18px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    /* subtle divider line */
}

/* Navbar flex setup */
.navbar {
    width: 100%;
    height: 92px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid grey;
}

/* Logo */
.logo {
    color: white;
    font-weight: 800;
    font-size: 3rem;
    padding: 30px;
    margin-left: 200px;
}

.logo span {
    background: linear-gradient(90deg, #ff00cc, #3333ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Nav links */
.nav-links {
    display: flex;
    gap: 55px;
    list-style: none;
    align-items: center;
    margin-right: 200px;

}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ff00cc;
}

/* Subscribe button */
.subscribe-btn {
    background: linear-gradient(90deg, #FFD700, #FF00CC);
    border: none;
    padding: 8px 22px;
    border-radius: 25px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-right: 200px;
    width: 144px;
    height: 50px;
}

.subscribe-btn:hover {
    opacity: 0.9;
    transform: translateY(-2px);
}


/* banner section start here */

.banner {
    width: 100%;
    background: url("./assets/hero-bg.png") no-repeat center center/cover;
    min-height: 760px;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* .banner img {
    display: flex;
    justify-content: center;
    align-items: center;

} */

.banner-content {
    position: relative;
    color: white;
}

.circle-container {
    position: relative;
    display: inline-block;
}

.hero-circle {
    width: 343px;
    height: 343px;
    /* margin-left: 20px; */
    margin-top: 70px;
}

.microphone {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 140px;
    /* margin-top: 30px; */

}

.new-tag{
    
  position: absolute;
  top: 90px;
  right: 10px;
  background-color: #00ff88;
  color: #000;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 4px 10px;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

}

.tech-wave  {
    margin-top: 40px;

}

.banner-p{
    margin-top: 20px;
}

.banner-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; 
  margin-top: 20px;
}

/* Spotify button */

.listen-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; 
  background: linear-gradient(90deg, #ffd700, #ff00cc);
  color: #ffffff;
  font-weight: 600;
  font-size: 1rem;
  border: none;
  border-radius: 45px;
  padding: 10px 20px;
  cursor: pointer;
}

/* fix the icon size */

.listen-btn img {
  width: 20px;
  height: 20px;
}

/* Subscribe button */

.message-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: transparent;
  color: #00ff88;
  border: 1px solid #00ff88;
  border-radius: 45px;
  font-weight: 600;
  font-size: 1rem;
  padding: 10px 20px;
  cursor: pointer;
}

.message-btn img {
  width: 20px;
  height: 20px;
}
/* banner section end  */


/* podcast section start  */


.about-section {
  background-color: #1A0B2E;
  color: #ffffff;
  text-align: center;
  padding: 80px 0;
  margin-top: -2px;
}

.about-content {
  max-width: 700px;
  margin: 0 auto 50px;
}

.about-content h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.about-content p {
  color: #a8a8a8;
  font-size: 0.95rem;
  line-height: 1.6;
  margin-bottom: 10px;
}

.podcast-stats {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px; 
}

.stat h3 {
  font-size: 2rem;
  color: #00ff88;
  font-weight: 700;
  margin-bottom: 6px;
}

.stat p {
  color: #bdbdbd;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

/* podcast section end here  */

/* grid section start  */

.choose-techwave {
    background-color: #230E3D;
  width: 100%;
  margin: 0 auto;
  padding: 60px 0;
  text-align: center;
}

.choose-techwave h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 40px;
  color: #ffffff;

}

.grid-container{
    
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 24px;
    max-width: 1200px; 
    margin: 0 auto;   
    padding: 20px;

}

.card {
  background:rgba(53, 17, 101, 0.4);
  border-radius: 20px;
  padding: 24px;
  text-align: left;
  transition: all 0.3s ease;
  height: 225px;
  color: #ffffff;
  
}
.card1 img{
    margin-top: 80px;

}
.card h3{
    margin-top: 16px;

}

.card p{
    margin-top:16px

}
.card1 {
    align-items: center;
    height: 480px;
  grid-column: 1 / 2;
  grid-row: 1 / 5;
  padding: 50px;

}

.card2{
    
    grid-column: 2/4;
    grid-row: 2/3;
    
}
.card3{
    
    grid-column: 2/4;
    grid-row: 3/5;
}

.card4{
    
    height: 225px;
    grid-column: 1/3;
    grid-row: 5/7;
}

.card5 {
grid-column: 3 / 4;
  grid-row: 5 / 7;
}

/* grid section end here */